  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo right">Comment It!</a>
      <div class="right">
        <a href="https://github.com/XinyiZhu1007/Comment-It">Source Code</a>
      </div>
    </div>
  </nav>